[submodule "third_party/sokol"]
	path = third_party/sokol
	url = https://github.com/floooh/sokol
[submodule "third_party/sokol-tools"]
	path = third_party/sokol-tools
	url = https://github.com/floooh/sokol-tools-bin
